@import "tailwindcss";

:root {
    --color-brand-orange: #f97316; /* Trackman accent */
}

/* Defaults */
body {
    @apply font-sans bg-zinc-900 text-white;
}

/* Utilities */
.font-oswald {
    font-family: var(--font-oswald);
}

.text-brand-orange {
    color: var(--color-brand-orange);
}

.bg-brand-orange {
    background-color: var(--color-brand-orange);
}
